<div class="header-content">
  <div class="header-text-content">
    <h1>FOUR<br>SLIDES </h1>
    <p> FOURSLIDES is a web service for expressing you <br> and your products by only <span class="header-description-span">4</span> slides</p>
  </div>
</div>

<div class="slide-index-content clearfix">
  <h1>Recent Slides</h1>
  <% @slides.each do |slide| %>
    <%= link_to slide_path(slide) do %>
    <div style="background-image: url(<%= slide.images.first.image.url %>)" class="slide-top-image"></div>
    <% end %>
  <% end %>
</div>