<%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => '' %> 
<%= link_to "New slides", new_slide_path, :class => '' %> 

<% @slides.each do |slide| %>

  <%= link_to slide_path(slide) do %>
  <div style="background-image: url(<%= slide.images.first.image.url %>)" class="slide-top-image"></div>
  <% end %>
<% end %>