// Place all the styles related to the slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p, a, li, span, h1, h2, h3 {
  font-family: 'Helvetica'
}

input, button, select, textarea {
  // -webkit-appearance: none;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

.content-width {
  width: 80%;
  margin: 0 auto;
}

// navigation
.navigation-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: white;
  border-bottom: 1px lightgray solid;
  z-index: 4;
}

.navigation-bar-content {
  width: 90%;
  margin: 0px auto;
}

.service-title {
  font-weight: bold;
  float: left;
  margin: 0px;
  line-height: 60px;
}

.navigation-bar-items-ul {
  margin: 0px;
}

.navigation-bar-items-ul li {
  float: right;
  list-style: none;
  font-size: 13px;
  line-height: 60px;
  margin-left: 30px;
}

.yield-content {
  padding-top: 60px;
}

// common
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

// index page
.header-content {
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/fourslides-production/assets/header_image.jpg");
  background-position: right;
  background-size: cover;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  font-family: 'Helvetica';
  position: fixed;
  height: 100%;
  width: 470px;
}

.header-text-content {
  padding: 0px 45px;
}

.header-text-content h1 {
  margin-top: 75px;
  font-size: 60px;
  color: #1f3134;
  letter-spacing: 15px;
  display: inline-block;
  margin-bottom: 0px;
}

.header-text-content p {
  
}

.slide-index-content {
  margin-left: 470px;
  padding-left: 20px;
  margin-bottom: 40px;
}

.slide-index-content h1 {
  font-size: 18px;
}

.slide-top-image {
  width: 48%;
  height: 200px;
  background-position: center;
  background-size: cover;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.header-description-span {
  font-size: 20px;
  font-weight: bold;
}



// show page

.slide-field {
  margin-bottom: 20px;
}

.slide-images {
  width: 100%;
  display: block;
}

.image-field {
  display: none;
}

.image-field-label {
  background-position: center;
  background-size: cover;
  display: block;
  width: 100%;
  height: 400px;
  cursor: pointer;
  border: 1px solid lightblue;
  background-color: lightblue;
  text-align: center;
  line-height: 400px;
  color: white;
}

.slide-preview-image {
  width: 100%;
}

.slide-title-field input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.slide-summay-field input {
  width: 100%; 
  padding: 10px;
  box-sizing: border-box;
}

.slide-submit-buttom {
  width: 100%;
  padding: 15px 40px;
  font-size: 1.2em;
  color: #fff;
  border: 1px solid;
  background-color: white;
  color: black;
  border: 1px solid;
  cursor: pointer;
}

.slide-submit-box {
  border: 1px solid !important;
  margin-bottom: 50px;
}

.slide-show-user-profile-content {
  padding: 30px;
  padding-top: 0px;
}

.slide-show-user-profile .slide-description {
  padding-bottom: 28px;
  border-bottom: 1px solid lightgray;
}

.slide-show-user-profile {
  border-bottom: 1px solid lightgray;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  width: 300px;
  height: 100%;
  position: fixed;
  right: 0px;
  top: 61px;
  background-color: white;
}

.slide-show-user-profile .links {
  font-size: 12px;
  border: 1px solid #504946;
  padding: 8px 10px;
  border-radius: 5px;
  display: inline;
  letter-spacing: 1px;
}

.slide-show-user-section .produced {
  letter-spacing: 2px;
  font-weight: bold;
}

.user-control-links {
  margin-top: 50px;
}

.edit-user .user-avatar {
  height: 60px;
  width: 60px;
  background-color: lightblue;
  border-radius: 30px;
  margin-right: 20px;
}

.slide-show-user-profile .user-avatar {
  height: 60px;
  width: 60px;
  background-size: cover;
  background-position: center;
  background-color: lightgray;
  border-radius: 30px;  
  margin-right: 20px;
}

.slide-show-user-profile p {
  
}

.slide-show-user-section .user-name {
  margin-top: 15px;
  word-wrap: break-word;  
  letter-spacing: 2px;
  color: #504946
}

.slide-show-details {
  margin-right: 300px;
  padding: 10px;
  padding-top: 0px;
}

.slide-show-user-profile .slide-title {
  font-size: 20px;
  font-weight: bold;
  border-left: 5px solid black;
  padding-left: 10px;
  word-wrap: break-word;
  letter-spacing: 2px;
}

.slide-show-user-profile .slide-summary {
  margin-bottom: 25px;
  letter-spacing: 2px;
  font-size: 13px;
  color: #504946;
}

// Footer
.footer-bar {
  padding-top: 50px; 
  height: 50px;
  background-color: #504946;
}

.footer-bar-content {
  width: 1000px;
  margin: 0 auto;
}

.copylight {
  font-size: 10px;
}

input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;  
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
}

.delete-slide-box {
  margin-top: 50px;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.delete-slide-box a {
  color: white;
}



// profile page

.user-profile-box {
  background-color: orange;
  height: 100%;
  width: 600px;
  position: fixed;
}

.profile-background-image-box-content {
  padding: 20px 100px;
  height: 100%;
  background-color: white;
}

.profile-background-image-box {
  background-color: lightgray;
  height: 78%;
  padding: 20px;
  background-size: cover;
  background-position: center;
}

.user-details-box {
  position: absolute;
  bottom: 110px;

}

.profile-user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  background-color: lightgray;
  float: left;
}

.prodile-user-name {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 60px;
  float: left;
  margin: 0px;
  margin-left: 20px;
}

.user-slides-box {
  margin-left: 600px;
  padding-top: 20px;
  padding-right: 50px;
}

.user-show-slides-box {
  position: relative;
  width: 48%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-color: lightgray;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.user-slides-content {
  margin-bottom: 50px;
}

.user-profile-settings {
  margin-bottom: 40px;
}

.prodile-menu-title {
  padding-right: 10px;
  margin-top: 0px;
  border-bottom: 1px solid black;
  letter-spacing: 2px;
  margin-right: 17px;
}

.setting-list-title {
  border: 1px solid;
  display: inline;
  padding: 9px 20px;
  font-size: 13px;
  border-radius: 3px;
  letter-spacing: 1px;
}

// Sign-in page
.sigin-in-large-box {
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/fourslides-production/assets/header_image.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

.sigin-in-title-pad h1 {
  letter-spacing: 15px;
}

.sigin-in-form-box p {
  margin-bottom: 5px;
 } 

.sign-in-large-content {
  background-color: white;
  width: 450px;
  margin: 100px auto 0px;
  padding: 20px;
  height: 450px;
  overflow: scroll;
}

.sigin-in-form-box .current-password {
  margin-bottom: 20px;
}

.sigin-in-form-box .password-confirmation {
  margin-bottom: 20px;
}

.sigin-in-form-box .actions input {
  width: 100%;
}

.sigin-in-form-box .remember-me {
  height: 20px;
  margin-left: 0px;
}

.sigin-in-form-box input {
  -webkit-border-after-style: none;
  -webkit-border-before-style: none;
  -webkit-border-end-style: none;
  -webkit-border-start-style: none;
  border: 1px solid;
  padding: 10px 10px;
  width: 95%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}


// for smart phone

.smart-slide-show-user-profile .slide-description {
  padding-bottom: 28px;
  border-bottom: 1px solid lightgray;
}

.smart-slide-show-user-profile .links {
  font-size: 12px;
  border: 1px solid #504946;
  padding: 8px 10px;
  border-radius: 5px;
  display: inline;
  letter-spacing: 1px;
}

.smart-slide-show-user-profile .produced {
  letter-spacing: 2px;
  font-weight: bold;
}

.user-control-links {
  margin-top: 50px;
}

.edit-user .user-avatar {
  height: 60px;
  width: 60px;
  background-color: lightblue;
  border-radius: 30px;
  margin-right: 20px;
}

.smart-slide-show-user-profile .user-avatar {
  height: 60px;
  width: 60px;
  background-size: cover;
  background-position: center;
  background-color: lightblue;
  border-radius: 30px; 
  margin-right: 20px;
}

.slide-show-user-section .user-name {
  margin-top: 15px;
  word-wrap: break-word;  
  letter-spacing: 2px;
  color: #504946
}

.slide-show-details {
  margin-right: 300px;
  padding: 10px;
  padding-top: 0px;
}

.smart-slide-show-user-profile .slide-title {
  font-size: 20px;
  font-weight: bold;
  border-left: 5px solid black;
  padding-left: 10px;
  word-wrap: break-word;
  letter-spacing: 2px;
}

.smart-slide-show-user-profile .slide-summary {
  margin-bottom: 25px;
  letter-spacing: 2px;
  font-size: 13px;
  color: #504946;
}

.smart-slide-show-user-profile {
  display: none;
}

.smart-header-content {
  display: none;
  padding: 20px;
}

.smart-header-text-content h1 {
  letter-spacing: 10px;
}

.smart-profile-background-image-box {
  display: none;
  background-color: lightgray;
  height: 78%;
  padding: 20px;
  background-size: cover;
  background-position: center;
  height: 200px;
}

@media all and (max-width: 1200px) {
  .user-show-slides-box {
    width: 100%;    
  }
}

@media all and (max-width: 1000px) {
  .slide-top-image {
    width: 95%;
  }
}

@media all and (max-width: 800px) {
  .slide-top-image {
    width: 48%;
  }

  .header-content {
    display: none;
  }

  .smart-header-content {
    display: block;
  }


  .slide-index-content {
    margin-left: 0px;
  }

  .user-profile-box {
    display: none;
  }

  .user-show-slides-box {
    width: 47%;
  }

  .user-slides-box {
    margin-left: 20px;
  }

}

@media all and (max-width: 500px) {
  .slide-top-image {
    width: 95%;
  }

  .slide-show-user-profile {
    display: none;
  }

  .slide-show-details {
    margin-right: 0px;
  }

  .smart-slide-show-user-profile {
    display: block;
  }

  .user-show-slides-box {
    width: 100%;
    padding-right: 20px;
  }

  .smart-profile-background-image-box {
    display: block;
  }

  .sign-in-large-content {
    width: 90%;
  }

  .slide-field .image-field-label {
    height: 200px;
    line-height: 200px;
  }

  .service-title {
    display: none;
  }
}

